<!--<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">AWS Cognito Sample</a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Home Page</a></li>
      <li routerLinkActive="active"><a *ngIf="_auth.isLoggedIn()" routerLink="/restapi">Rest Call</a></li>
      <li routerLinkActive="active"><a *ngIf="!_auth.isLoggedIn()" routerLink="/register">Register</a></li>
      <li  routerLinkActive="active"><a *ngIf="!_auth.isLoggedIn()" routerLink="/login">Login</a></li>      
      <li><a *ngIf="_auth.isLoggedIn()" href="javascript:void(0)" (click)="doLogout()">Logout</a></li>
      <a routerLink="course-content-list">Course Content List</a><br>
    </ul>
  </div>
</nav> -->

<mat-toolbar color="primary">
  <span><mat-icon>book</mat-icon>ELEARNING</span>
<div class="spacer"></div>
  <a mat-button href="/contact">Contact Us</a>
  <a mat-button href="/aboutus">About Us</a>
  <a mat-button routerLink="/register">REGISTER</a>
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
 

 
  <a mat-raised-button="accent" style="margin-left:40.5em" routerLink="/login">LOGIN</a>
 
 
</mat-toolbar>


