.spacer{
   float:right;
   background-color: #f4511e;
}

.jumbotron {
   background-color: #f4511e;
   color: #fff;
   padding: 100px 25px;
   font-family: Montserrat, sans-serif;
 }
 .body{
    background-color: #f4511e;
 }