<app-header></app-header>
<!--<a routerLink="instructor-dashboard">Instructor Dashboard</a><br>
<a routerLink="instructor-details">Instructor Details</a><br>
<a routerLink="instructor-update-details">Instructor Update Details</a><br>
<a routerLink="student-dashboard">Student Dashboard</a><br>
<a routerLink="student-details">Student Details</a><br>
<a routerLink="instructor-update-details">Student Update Details</a><br>
<a routerLink="course-details">Course Details</a><br>
<a routerLink="course-list-">Course List</a><br>
<a routerLink="course-dashboard">Course Dashboard</a><br>
<a routerLink="course-content-list">Course Content List</a><br> -->
<router-outlet></router-outlet>